* {
    box-sizing: border-box;
}

.row1, .row2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column1 {
    display: flex;
    width: 25%;
}
article {
    width: 72vw;
    border-radius: 20px;
    border: 3px solid white;
    padding: 1vw;
    margin: 1vw;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .25);
    background-image: url("../src/images/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14pt;
}

section {
    width: 98vw;
    border-radius: 20px;
    border: 1px solid green;
    padding: 1vw;
    margin: 1vw;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .25);
    background-color: aquamarine;
    font-size: 14pt;
}

table, th, td {
    border: 1px solid black;
}

@media only screen and (max-width: 520px) {
    nav ul {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }

    .row1 {
        flex-direction: column;
    }

    article {
        width: 96vw;
        font-size: 12pt;
    }

    section {
        width: 98vw;
        font-size: 12pt;
    }
}

@media only screen and (max-height: 520px) {
    nav ul {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }

    .row1 {
        flex-direction: column;
    }

    article {
        width: 96vw;
        font-size: 12pt;
    }

    section {
        width: 98vw;
        font-size: 12pt;
    }
}